.purple {
  color: #a44cd3;
}

.pink {
  color: #e53f71;
}

#challenges {
    font-family: "Helvetica";
    text-indent: 20px;
    margin-left: 10px;
    width: 1000px;
    font-size: 20px;
}

#results {
    font-family: "Helvetica";
    text-indent: 20px;
    margin-left: 10px;
    width: 1000px;
    font-size: 20px;
}

#content {
    width: 1000px;
    min-height: 300px;
    padding: 50px;
    margin: 10px;
    font-size: 20px;
}
